# Similar samples - Gabbar

In [1]:
import pandas as pd

In [2]:
path = '../downloads/old-feature-classifier/'

In [3]:
samples = pd.read_csv(path + 'training.csv')
samples.head()

,changeset_id,changeset_harmful,changeset_features_created,changeset_features_modified,changeset_features_deleted,changeset_has_imagery_used,changeset_has_source,changeset_comment_number_of_words,changeset_comment_naughty_words_count,changeset_bbox_area,...,railway_old,route_old,shop_old,sport_old,tourism_old,waterway_old,tag_values_popularity_min,tag_values_popularity_max,tag_values_popularity_mean,tag_values_popularity_stddev
0,47303446,0,0,1,0,0,0,8,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0164,0.5083,0.2623,0.2459
1,47867864,0,0,1,0,1,0,18,0,1091029462,...,0.0,0.0,0.0,0.0,0.0,0.0,0.2896,0.2896,0.2896,0.0000
2,48007382,1,0,1,0,1,0,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0043,0.0043,0.0043,0.0000
3,48971499,1,0,1,0,1,0,35,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0221,0.0221,0.0221,0.0000
4,47412284,0,0,1,0,1,0,3,0,448,...,0.0,0.0,0.0,0.0,0.0,0.0,0.3255,0.3255,0.3255,0.0000

In [4]:
def get_dissimilarity(first, second):
    dissimilarity = []
    for i in range(len(first)):
        if first[i] != second[i]: dissimilarity.append(i)
    return dissimilarity

In [5]:
first = samples[samples['changeset_id'] == 47078737].iloc[0]
second = samples[samples['changeset_id'] == 47078765].iloc[0]

In [6]:
indexes = get_dissimilarity(first.values, second.values)
result = []
for index in indexes:
    result.append([samples.columns[index], first.values[index], second.values[index]])
pd.DataFrame(result, columns=['Attribute', 'First', 'Second'])

             Attribute       First      Second
0         changeset_id  47078737.0  47078765.0
1  changeset_bbox_area       767.0      1736.0
2         feature_area       350.0       403.0
3     feature_area_old       350.0       403.0

In [7]:
test = samples[samples['changeset_id'] == 47078765].iloc[0].values

In [8]:
scores = []
for sample in samples.values:
    dissimilar = get_dissimilarity(sample, test)
    scores.append([sample[0], len(dissimilar)])
scores = sorted(scores, key=lambda x: x[1])

In [9]:
print('\n'.join(['{}, {}'.format(item[0], item[1]) for item in scores[:10]]))

47078765.0, 0
47078737.0, 4
47078698.0, 4
47078730.0, 4
47078746.0, 4
46690182.0, 17
47074749.0, 17
46569657.0, 18
47921947.0, 18
46575475.0, 18